
<link rel="stylesheet" href="/directvies/css.css" />
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #525252;border-color: #525252;">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-pills">

        <li class="top_name">
          <a>{{companyNames}}<colo style="color: #707070">{{company}}</colo></a>
        </li>
        <li ng-repeat="title in titles" class="setting"  ng-click="isSetting($index)">
          <a href="#"><span class="{{title}}"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
